.example{
    display: inline-block;
    width:100px;
    height:100px;
    background-color: blue 
}
.example1{
    display: inline-block;
    width:100px;
    height:100px;
    background-color: blue 
    
}
.example2{
    display: inline-block;
    width:100px;
    height:100px;
    background-color: blue 
}

.myTable{
   display:table;
}

.myTable .myTr{
    display:table-row;
}

.myTable .myTd{
    display:table-cell;
}