div,header,footer{
    height:150px;
    margin-bottom: 30px;
    background: blue;
    
}

main{
    width:600px;
    margin:0 auto;
}

header,footer{
    width:100%;
    clear: both;
}


.col3{
    float:right;
    width: 300px;
    
}

.col1, .col2, .col3{
    width:200px;
}

.cell {
    float:left;
    margin-right:10px;
    
    margin-bottom:10px;
}