* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

footer{
    margin-top:100px; /* TODO: Remove this */
    width:100%;
    font-family: 'PT Sans';
}

footer .wrap{
    width:1168px;
    margin:0 auto;
    display: flex;
}

footer .top {
    width:100%;
    padding:95px 0 98px;
    background-color: #222533;
    border-bottom:1px solid #39444E;
}

footer .top h3 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 33px;
}
footer .top h3::after{
    content: "";
    display:block;
    width:70px;
    height:3px;
    background-color: #1ABC9C;
    margin-top:4px;
}

footer .top .wrap >div {
    width:270px;
    height:270px; /*TODO: remove this */
    margin-right:30px;
}
footer .top .wrap >div:last-child {
    margin-right:0;
}

footer .top ul {
    list-style-type: none;
}

footer .top ul li {
    display:flex;
    flex-direction: column;
    padding-bottom:19px;
    border-bottom:1px solid #707070;
    margin-bottom:17px;
}
footer .top ul li:last-child{
    padding:0;
    margin:0;
    border:none;
}

footer .top ul li:first-child{
    padding-bottom:19px;
    border-bottom:1px solid #707070;
    margin-bottom:12px;
}

footer .top ul li a {
    text-decoration: none;
    color:white;
    font-size:16px;
    line-height: 24px;
    margin-bottom: 4px;
}
footer .top ul li a:hover{
    color:#1ABC9C;
}
footer .top ul li span {
    color:#A1B1BC;
    font-size:14px;
}
footer .top p {
    display:flex;
    flex-direction: column;
    font-size:14px;
    line-height: 24px;
}
footer .top p span {
    color:#A1B1BC;
    margin-bottom: 10px;
}
footer .top p a {
    width:max-content;
    color: #1ABC9C !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px !important;
}
footer .top p a:hover{
    color:white !important;
}

footer .bottom {
    width:100%;
    padding:40px 0;
    background-color: #171D22;
}
footer .bottom p{
    color: #707070;
    line-height: 24px;
    font-size: 15px;
    margin-left: -0.6px;
    margin-top: 4px;
    word-spacing: -0.2px;
}

footer .bottom p a {
    color:#1ABC9C;
    text-decoration: none;
}

footer .bottom p a:hover {
    color:white;
}
