.alert {
    padding: 20px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    border: 2px solid black;
  }
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
.closebtn:hover {
    color: black;
  }